.comment {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;

    .commentBox {
        flex: 1;

        .commentContent {
            background-color: var(--gray-700);
            border-radius: 8px;
            padding: 1rem;

            header {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .authorAndTime {
                    display: flex;
                    flex-direction: column;

                    strong {
                        font-size: 0.875rem;
                        line-height: 1.6;
                    }

                    time {
                        font-size: 0.75rem;
                        line-height: 1.6;
                        color: var(--gray-400);
                    }
                }

                button {
                    background-color: transparent;
                    border: 0;
                    color: var(--gray-400);
                    line-height: 0;
                    cursor: pointer;
                    border-radius: 2px;

                    &:hover {
                        color: var(--red-500);
                    }
                }
            }

            p {
                margin-top: 1rem;
                color: var(--gray-300);
            }
        }

        footer {
            margin-top: 1rem;

            button {
                display: flex;
                align-items: center;
                background-color: transparent;
                border: 0;
                color: var(--gray-400);
                border-radius: 2px;
                cursor: pointer;

                &:hover {
                    color: var(--green-300);
                }

                svg {
                    margin-right: 0.5rem;
                }

                span {

                    &::before {
                        content: "\2022";
                        padding: 0 0.25rem;
                    }
                }
            }
        }
    }
}