html {
    @media (max-width: 768px) {
        font-size: 87.5%;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 256px 1fr;
    align-items: flex-start;
    gap: 2rem;
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}